default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_language_version:
    python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-illegal-windows-names
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: check-toml
    - id: check-yaml
    - id: no-commit-to-branch
      args: [--branch, main, --branch, master, --branch, develop]
      stages: [pre-commit]
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-renovate
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.208
    hooks:
      - id: rumdl
        args: [--fix]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies: [tomli]
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.21
    hooks:
      - id: uv-lock
      - id: uv-sync
        args: ["--locked", "--dev"]
        stages:
          - pre-commit
          - post-checkout
          - post-merge
          - post-rewrite
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./bin/run_mypy.sh
        language: script
        require_serial: true
        types: [python]
