name: Run Unit Tests

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
    - name: Install tests requirements
      run: uv sync --locked --group tests
    - name: Run tests coverage
      run: |
        uv run pytest \
          --cov \
          --cov-report=term-missing \
          --cov-report=xml:coverage.xml \
          --junitxml=pytest.xml
    - name: Upload coverage reports to Codecov
      if: always() && matrix.python-version == '3.11'
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml
        fail_ci_if_error: true
    - name: Upload test results to Codecov
      if: always() && matrix.python-version == '3.11'
      uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: pytest.xml
        fail_ci_if_error: true
